///// HOME MENU ///////

.homeMenu
  margin: 0 15px 15px
.homeMenu1
.homeMenu2

.hmCursos,.hmTtienda,.hmArticulos,.hmConsultorios,.hmFarmacias,.hmCampus
  min-height: 250px
  border: 4px solid $mainContainer
  transition: all 0.3s ease 0s
  &:hover
    cursor: pointer
    filter: brightness(1.28)
  span
    position: absolute
    bottom: 1rem
    left: 2rem
    font-size: 2.5rem
    line-height: 40px
    font-weight: 500
    color: #fff
    // text-shadow: 2px 2px 4px rgba(150, 150, 150, 1)


@media (max-width: 1150px)
  .hmCursos,.hmTtienda,.hmArticulos,.hmConsultorios,.hmFarmacias,.hmCampus
    span
      left: 1rem
      bottom: .5rem
      font-size: 1.8rem

@media (max-width: 765px)
  .hmCursos,.hmTtienda,.hmArticulos,.hmConsultorios,.hmFarmacias,.hmCampus
    min-height: 100px
    bottom: 0.2rem
    left: 0.5rem
    span
      font-size: 1.5rem

.hmCursos
  background: url(../images/body/menu/hmCursos.jpg) no-repeat center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

.hmTtienda
  background: url(../images/body/menu/hmTienda.jpg) no-repeat center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
.hmArticulos
  background: url(../images/body/menu/hmArticulos.jpg) no-repeat center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
.hmConsultorios
  background: url(../images/body/menu/hmConsultorios.jpg) no-repeat center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
.hmFarmacias
  background: url(../images/body/menu/hmFarmacias.jpg) no-repeat center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
.hmCampus
  background: url(../images/body/menu/hmCampus.jpg) no-repeat center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

/////// SIDEBAR //////////
.sideBar
  margin: 0 auto
  text-align: center
  // Le da el ancho justo al sidebar en LG
  padding-left: 0.3rem
  padding-right: 0.3rem
  img
    max-width: 100%

.sideBarInner
  position: relative
  padding: 0
  margin: 0
  padding-top: 15px
  span
    position: absolute
    font-size: 1.3rem
    line-height: 2rem
    text-align: left
    left: 2rem
    top: 1rem
    color: #fff
    p
      color: #000
      font-size: 1.3rem
      line-height: 2rem
      text-align: left
      margin-bottom: 0

    p.sbSubtit
      font-size: 1rem
      line-height: 2rem
  h3
    font-size: 1.5rem
    color: #000

@media (max-width: 765px)
  .sideBarInner
    div
      max-width: 500px
      margin: 0 auto

/////////////////////////////////////////////////////
/*                 HOME ITEMS                      */
/////////////////////////////////////////////////////

.revistaHome
  transition: all 0.3s ease 0s
  &:hover
    cursor: pointer
    opacity: 0.9
  h5
    font-size: 1rem


/////////////////////////////////////////////////////
/*                   SECTIONS                      */
/////////////////////////////////////////////////////

//// Home Content Under Big Nav ////
.itemHome
  img
    min-width: 100%
    max-width: 100%
    vertical-align: none


.itemContainer
  h5
    margin: 0
    padding: 0
    font-weight: 400

.farmCompleto
  h5
    font-weight: 400

.quoteSmall
  font-size: 1rem

.linkDestac
  background-color: $secBtn
  color: #fff
  padding: 5px
  text-align: center
  margin: 15px 0
  padding: 15px
  transition: all 0.3s ease 0s
  p,h1,h2,h3,h4,h5
    color: $secBtnTxt
    font-size: 1.2rem
  &:hover
    cursor: pointer
    background-color: $secBtnHover
    p,h1,h2,h3,h4,h5
      color: $secBtnTxtHover



// Para envolver links grandes (como botones pero con divs)
.linkWrapper,.pagarAmha
  background-color: rgb(114, 159, 129)
  border: 2px solid white
  padding: 5px
  padding-top: 25px
  transition: all 0.3s ease 0s
  &:hover
    background-color: rgb(88, 120, 99)
    cursor: pointer
  p
    color: #fff
    font-size: 1.2rem
  .subLinkWrapper li
    list-style: none
    border-radius: 5px
    padding: 5px 10px
    background-color: rgb(240, 240, 240)
    font-size: .8rem
    &:hover
      background-color: rgb(142, 209, 193)
      cursor: pointer


.pagarBtn
  padding: 20px
  border-radius: 5px
  color: #fff
  margin: 25px
  max-width: 450px
  border: 0
  text-align: center
  background-color: rgb(117, 77, 128)
  transition: all 0.3s ease 0s

  &:hover
    background-color: rgb(133, 104, 142)
////// Autoridades /////
.contentContainer
  .row
    padding: 0
    margin: 0
.innerContentContainer
  margin-bottom: 10px
  margin-top: 10px
  h1
    font-size: 1.5rem
    color: #fff
    font-weight: 400
  h2
    font-size: 1.2rem
    color: #000
    font-weight: 400
  h3
    margin: 5px 0
    font-size: 1.2rem
    color: #000
    font-weight: 300
    font-style: italic

// Farmacias

.mapFarmacias
  padding: 0
  margin-bottom: 25px
  iframe
    border: 0

.farmaciasTits
  background-color: rgb(179, 198, 187)
  padding: 5px 2px
  text-align: center
  p
    margin: 0

.farmacias
  margin-top: 25px

.farmCompleto
  background-color: #fff
  border: 1px solid #e5e5e5
  border-radius: .25rem .25rem 0 0
  margin-bottom: 15px
  h5
    margin: 0
    padding: 0
  .card
    border: 0

////// CURSOS //////
.beneficios
  margin: 25px 0
  text-align: center

.biblio
  text-align: left

// CONSULTORIOS
.consultoriosMain
  margin: 0 auto
  text-align: center
  img
    min-width: 100%
    max-width: 100%
    transition: all 0.3s ease 0s
    &:hover
      filter: brightness(.4)

.consultoriosItems
  margin-left: 12%

@media (max-width: 1200px)
  .consultoriosItems
    margin-left: 15px

///// REPRESENTANTES /////
.representantes
  img
    max-width: 100%
    margin-bottom: 15px


/////// SOCIOS /////////

.sociosSublinks
  padding: 0
  padding: 15px
  text-align: center
  p
    font-size: 14px


//// FARMACIAS ////////
.card-farm
  padding: 0
.card-farm-details
  padding: 5px
  -ms-flexbox
  display: -webkit-flex
  display: flex
  -ms-flex-align: center
  -webkit-align-items: center
  -webkit-box-align: center
  align-items: center

///// CONTACTO //////

.amhaContactData
  text-align: center
  margin-top: 30px
