@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic,500,700);
a {
  text-decoration: none;
  color: #000;
  outline: 0;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all; }
  a:hover, a:focus, a:active {
    text-decoration: none;
    color: #000;
    outline: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #000; }

h1 {
  font-size: 2.1rem;
  font-weight: 300; }

h2 {
  font-size: 2rem;
  font-weight: 300; }

h3 {
  font-size: 1.8rem;
  font-weight: 100; }

h4 {
  font-size: 1.4rem;
  font-weight: 300; }

h5 {
  font-size: 1.2rem;
  font-weight: 300; }

.titW h1, .titW h2, .titW h3, .titW h4, .titW h5 {
  color: #fff; }

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #000; }

b {
  color: #436952; }

b.b {
  color: #000; }

b.w {
  color: #fff; }

.justify {
  text-align: justify; }

span.italic {
  font-style: italic; }

.txC {
  text-align: center; }

.txL {
  text-align: left; }

.txR {
  text-align: right; }

.sectionTits {
  text-align: left; }
  .sectionTits h1 {
    color: #000;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 15px; }
  .sectionTits h4, .sectionTits h3 {
    padding-left: 10px; }

.sectionTitsSmall {
  text-align: center;
  margin: 30px 0 20px; }
  .sectionTitsSmall h1, .sectionTitsSmall h2, .sectionTitsSmall h3, .sectionTitsSmall h4, .sectionTitsSmall h5 {
    margin: 10px 0; }

span.subtitle {
  font-weight: 1rem;
  font-weight: 600; }

html {
  height: 100%;
  font-size: 15px; }

body {
  background: url(../../skin/images/body/backgrounds/main-back.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  color: #000;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 300;
  overflow-x: hidden; }

@media (max-width: 1200px) and (min-width: 0px) {
  body {
    background: none; } }
ul {
  margin: 0;
  padding: 0; }

label {
  margin: 0;
  font-weight: 400; }

.modal {
  z-index: 9999 !important; }

.modal-header {
  border-bottom: 0;
  background-color: #e8e8e8; }

.modal-footer {
  border-top: 0; }

.brd {
  border: 1px solid red; }

.centertxt {
  text-align: center; }

.pad0 {
  padding: 0; }

.marg0 {
  margin: 0; }

.margLeft0 {
  margin-left: 0 !important; }

.margBott0 {
  margin-bottom: 0 !important; }

.img100 img {
  max-width: 100%; }

.rad0 {
  border-radius: 0; }

.longLink a {
  line-height: 15px !important;
  padding-top: 2px !important; }

.margTop20 {
  margin-top: 20px; }

.vig {
  font-weight: 400; }

.Hidden {
  display: none !important; }

.container {
  width: 1300px;
  max-width: 100%; }

.mainContainer {
  padding: 5px;
  height: 100%;
  background-color: #fcfcfc; }

@media (max-width: 499px) {
  .mainContainer {
    padding-bottom: 300px; } }
.mainWrapper {
  position: relative;
  padding-bottom: 40px; }

.row-centered {
  text-align: center; }

.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px; }

.flexEqual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto; }

.flexW {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flexV {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.flexCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.hrMobile {
  display: none; }

.hrStrong {
  border-top: 3px solid #2a2b08;
  border-bottom: 4px solid #b1b1b1; }

@media (max-width: 765px) {
  .hrMobile {
    display: block; } }
.minWidthFloatMenu {
  min-width: 200px; }

.sideBar {
  margin: 0 auto;
  text-align: center;
  padding-left: 0.3rem;
  padding-right: 0.3rem; }
  .sideBar img {
    max-width: 100%; }

.sideBarInner {
  position: relative;
  padding: 0;
  margin: 0;
  padding-top: 15px; }
  .sideBarInner h3 {
    font-size: 1.5rem;
    color: #000; }
  .sideBarInner img {
    max-width: 100%; }
  .sideBarInner span {
    position: absolute;
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: left;
    left: 2rem;
    top: 1rem;
    color: #fff; }
    .sideBarInner span p {
      color: #000;
      font-size: 1.3rem;
      line-height: 2rem;
      text-align: left;
      margin-bottom: 0; }
    .sideBarInner span p.sbSubtit {
      font-size: 1rem;
      line-height: 2rem; }

@media (max-width: 765px) {
  .sideBarInner div {
    max-width: 500px;
    margin: 0 auto; } }
@media (max-width: 1220px) {
  .sideBar {
    max-width: 220px;
    float: right; } }
@media (max-width: 1020px) {
  .sideBar {
    display: none; } }
.footerData {
  position: relative;
  background-color: #e4e3e3;
  padding: 15px;
  margin-top: -23px; }
  .footerData h4 {
    margin: 0; }
  .footerData h5 {
    margin-bottom: 10px;
    margin-left: 15px; }
  .footerData p, .footerData a {
    padding-top: 15px;
    color: #000;
    font-size: 0.9rem; }
  .footerData span {
    text-align: center;
    color: #000; }

.foterDataAddress {
  padding-left: 28px; }
  .foterDataAddress span {
    margin-left: 17px; }
  .foterDataAddress .fa-envelope {
    margin-right: 5px; }
  .foterDataAddress .fa-map-marker {
    margin-right: 8px; }

.mapAndAddress {
  min-height: 350px; }

.footerMap {
  height: auto; }
  .footerMap img {
    width: 100%; }

.quickContact {
  text-align: center; }
  .quickContact input {
    background-color: rgba(200, 200, 200, 0.21);
    padding: 10px 15px 10px 12px;
    margin-bottom: 5px;
    border: 0;
    border-bottom: 1px solid white; }
  .quickContact button {
    background-color: #b390b4;
    padding: 5px 15px;
    margin: 10px;
    border: 0;
    color: #fff; }
    .quickContact button:hover {
      background-color: #a284a3; }
  .quickContact textarea {
    background-color: rgba(200, 200, 200, 0.21);
    border: 0;
    border-bottom: 1px solid white;
    min-height: 90px;
    padding: 10px 5px; }

.footerLogo {
  padding-top: 20px;
  text-align: center; }
  .footerLogo img {
    width: 150px; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0; }
  footer .footerUs {
    background-color: #323232;
    padding: 10px 0; }
    footer .footerUs span {
      font-size: 0.8rem;
      color: #c4c4c4; }
    footer .footerUs a {
      color: #fff; }

.card-header {
  background-color: #aaa192; }
  .card-header p, .card-header h5 {
    color: #fff; }

.cardHeadHover {
  transition: all 0.3s ease 0s; }
  .cardHeadHover:hover {
    cursor: pointer;
    background-color: #a39171; }

.modal-dialog {
  width: 800px;
  margin: 30px auto;
  max-width: 100%;
  text-align: center; }

nav {
  position: relative;
  margin: 0 auto; }

.navbar {
  border-radius: 0;
  padding: 0.5rem 0;
  color: #fff; }

.topBar input {
  max-width: 250px; }
.topBar ul li a {
  color: #fff; }

.topOptions {
  margin-right: 4px; }

.topOptionsMobile {
  text-align: center;
  margin-top: 10px; }

.logoNav {
  position: relative;
  z-index: 123;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  color: white;
  float: left;
  width: 18%; }
  .logoNav a {
    color: white; }
  .logoNav img {
    width: 75px; }

header {
  width: 100%; }

.headerBackground {
  background-color: transparent; }

.topBar {
  background-color: rgba(240, 240, 240, 0.7); }
  .topBar .container {
    padding-right: 0; }
  .topBar .input-group {
    padding-right: 5px; }

.topHead {
  position: relative;
  background-color: #e4e3e3;
  color: #000; }
  .topHead .container {
    padding-left: 0;
    padding-right: 0; }
  .topHead p {
    color: #000; }
  .topHead img {
    width: 150px; }
  .topHead .row {
    padding: 15px; }

.topSearch {
  max-width: 250px; }
  .topSearch .form-control {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    color: #fff; }
  .topSearch .input-group-addon {
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #a2a2a2;
    border-radius: 0;
    color: #383838;
    /* Placeholder Color */ }
  .topSearch .form-control::-webkit-input-placeholder {
    color: top1Txt;
    font-weight: 100; }
  .topSearch .form-control:-moz-placeholder {
    color: top1Txt;
    font-weight: 100; }
  .topSearch .form-control::-moz-placeholder {
    color: #383838;
    font-weight: 100; }
  .topSearch .form-control:-ms-input-placeholder {
    color: top1Txt;
    font-weight: 100; }

@media (max-width: 545px) {
  .topBar .topSearch input {
    width: 100px; } }
@media (max-width: 349px) {
  .topBar .topSearch input {
    width: 100%; } }
.topInner {
  padding: 20px 0; }

.topLogo {
  max-width: 170px; }

@media (max-width: 765px) {
  .topLogo {
    width: 100%;
    max-width: 100%;
    text-align: center; }
    .topLogo img {
      margin: 0 auto;
      width: 80px; } }
.topTitles {
  width: auto;
  padding-top: 40px; }

span.topName {
  font-size: 1.5rem; }

span.topSlogan {
  font-weight: 300;
  font-size: 0.8rem; }

@media (max-width: 1000px) {
  span.topName {
    font-size: 1rem; }

  span.topSlogan {
    font-weight: 300;
    font-size: 0.7rem; } }
@media (max-width: 765px) {
  .topTitles {
    width: 100%;
    text-align: center;
    padding-top: 2px; } }
.topDatos {
  padding: 0;
  text-align: center;
  float: right;
  padding-top: 30px; }
  .topDatos p {
    margin-bottom: 0;
    font-weight: 300; }
  .topDatos a {
    color: #000; }

@media (max-width: 1032px) {
  .topDatos {
    display: none; } }
.topAddressMobile {
  display: none; }
  .topAddressMobile a {
    color: #fff; }

@media (max-width: 1032px) {
  .topAddressMobile {
    display: block; } }
.nav {
  width: 1300px;
  margin: 0 auto;
  max-width: 100%; }

#cssmenu p {
  font-weight: 200;
  font-size: 25px; }

@media (max-width: 780px) {
  #cssmenu p {
    font-size: 16px; } }
#cssmenu {
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 9950;
  font-family: sans-serif;
  background: #99b5a4; }
  #cssmenu ul {
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    #cssmenu ul li {
      border: 0;
      list-style: none;
      line-height: 1;
      display: block;
      position: relative;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      #cssmenu ul li a {
        border: 0;
        list-style: none;
        line-height: 1;
        display: block;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
  #cssmenu #head-mobile {
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #cssmenu:after, #cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  #cssmenu #head-mobile {
    display: none; }
  #cssmenu > ul > li {
    float: left; }
    #cssmenu > ul > li > a {
      padding: 17px;
      font-size: 12px;
      letter-spacing: 1px;
      text-decoration: none;
      color: #e8e8e8;
      font-weight: 700; }
    #cssmenu > ul > li:hover > a {
      color: #000; }
  #cssmenu ul li.active {
    background: #e7e7e7 !important;
    -webkit-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    transition: background 0.3s ease; }
    #cssmenu ul li.active a {
      color: #474747; }
    #cssmenu ul li.active:hover {
      background: #e7e7e7 !important;
      -webkit-transition: background 0.3s ease;
      -ms-transition: background 0.3s ease;
      transition: background 0.3s ease; }
  #cssmenu ul li.has-sub.active:hover {
    background: #e7e7e7 !important;
    -webkit-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    transition: background 0.3s ease; }
  #cssmenu ul ul {
    position: absolute;
    left: -9999px; }
    #cssmenu ul ul li {
      height: 0;
      -webkit-transition: all 0.25s ease;
      -ms-transition: all 0.25s ease;
      background: #d5d5d5;
      transition: all 0.25s ease; }
      #cssmenu ul ul li:hover {
        background-color: #a4a4a4; }
  #cssmenu > ul > li:hover {
    background: #e7e7e7 !important;
    -webkit-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    transition: background 0.3s ease; }
  #cssmenu > ul > li.has-sub > a {
    padding-right: 30px; }
    #cssmenu > ul > li.has-sub > a:after {
      position: absolute;
      top: 22px;
      right: 11px;
      width: 8px;
      height: 2px;
      display: block;
      background: #ddd;
      content: ""; }
    #cssmenu > ul > li.has-sub > a:before {
      position: absolute;
      top: 19px;
      right: 14px;
      display: block;
      width: 2px;
      height: 8px;
      background: #ddd;
      content: "";
      -webkit-transition: all 0.25s ease;
      -ms-transition: all 0.25s ease;
      transition: all 0.25s ease; }
  #cssmenu > ul > li.has-sub:hover > a:before {
    top: 23px;
    height: 0; }
  #cssmenu li:hover > ul {
    left: auto; }
    #cssmenu li:hover > ul > li {
      height: 35px; }
  #cssmenu ul ul ul {
    margin-left: 100%;
    top: 0; }
  #cssmenu ul ul li a {
    border-bottom: 1px solid rgba(150, 150, 150, 0.15);
    padding: 11px 15px;
    width: 300px;
    font-size: 12px;
    text-decoration: none;
    color: #000;
    font-weight: 400; }
  #cssmenu ul ul li:last-child > a, #cssmenu ul ul li.last-item > a {
    border-bottom: 0; }
  #cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover {
    color: #fff; }
  #cssmenu ul ul li.has-sub > a:after {
    position: absolute;
    top: 16px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #464646;
    content: ""; }
  #cssmenu ul ul li.has-sub > a:before {
    position: absolute;
    top: 13px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #464646;
    content: "";
    -webkit-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease; }
  #cssmenu ul ul li.has-sub:hover {
    background: #a4a4a4; }
  #cssmenu ul ul > li.has-sub:hover > a:before {
    top: 17px;
    height: 0; }
  #cssmenu ul li.has-sub ul li.has-sub ul li:hover {
    background: #6f6f6f; }
  #cssmenu ul ul ul li.active a {
    border-left: 1px solid #333; }
  #cssmenu > ul > li.has-sub > ul > li.active > a, #cssmenu > ul ul > li.has-sub > ul > li.active > a {
    border-top: 1px solid #333; }

@media screen and (max-width: 700px) {
  .logoNav {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 46px;
    text-align: center;
    padding: 14px 0 0 0;
    float: none; }

  .logo2 {
    display: none; }

  nav {
    width: 100%; }

  #cssmenu {
    width: 100%; }
    #cssmenu ul {
      width: 100%;
      display: none; }
      #cssmenu ul li {
        width: 100%;
        border-top: 1px solid #444; }
        #cssmenu ul li:hover {
          background: #363636; }
      #cssmenu ul ul li {
        height: auto; }
    #cssmenu li:hover > ul > li {
      height: auto; }
    #cssmenu ul li a {
      width: 100%;
      border-bottom: 0; }
    #cssmenu ul ul {
      position: relative;
      left: 0;
      width: 100%;
      margin: 0;
      text-align: left; }
      #cssmenu ul ul li {
        background: #333 !important; }
        #cssmenu ul ul li a {
          width: 100%;
          border-bottom: 0;
          padding-left: 25px; }
        #cssmenu ul ul li:hover {
          background: #363636 !important; }
      #cssmenu ul ul ul li a {
        padding-left: 35px; }
      #cssmenu ul ul li a {
        color: #ddd;
        background: none; }
      #cssmenu ul ul li:hover > a, #cssmenu ul ul li.active > a {
        color: #fff; }
      #cssmenu ul ul ul {
        position: relative;
        left: 0;
        width: 100%;
        margin: 0;
        text-align: left; }
      #cssmenu ul ul > li.has-sub > a:after, #cssmenu ul ul > li.has-sub > a:before {
        display: none; }
    #cssmenu > ul > li {
      float: none; }
    #cssmenu > ul > li.has-sub > a:after, #cssmenu > ul > li.has-sub > a:before {
      display: none; }
    #cssmenu #head-mobile {
      display: block;
      padding: 23px;
      color: #ddd;
      font-size: 12px;
      font-weight: 700; }

  .button {
    width: 55px;
    height: 46px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 12399994; }
    .button:after {
      position: absolute;
      top: 15px;
      right: 20px;
      display: block;
      height: 4px;
      width: 20px;
      border-top: 2px solid #dddddd;
      content: ""; }
    .button:before {
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
      position: absolute;
      top: 23px;
      right: 20px;
      display: block;
      height: 2px;
      width: 20px;
      background: #ddd;
      content: ""; }
    .button.menu-opened:after {
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
      top: 23px;
      border: 0;
      height: 2px;
      width: 19px;
      background: #fff;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .button.menu-opened:before {
      top: 23px;
      background: #fff;
      width: 19px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }

  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid #444;
    height: 46px;
    width: 46px;
    cursor: pointer; }
    #cssmenu .submenu-button.submenu-opened {
      background: #e86464; }
  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px; }
  #cssmenu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: ""; }
  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px; }
  #cssmenu .submenu-button.submenu-opened:after {
    background: #fff; }
  #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: ""; }
  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px; }
  #cssmenu .submenu-button.submenu-opened:before {
    display: none; }
  #cssmenu ul ul ul li.active a {
    border-left: none; }
  #cssmenu > ul > li.has-sub > ul > li.active > a, #cssmenu > ul ul > li.has-sub > ul > li.active > a {
    border-top: none; } }
@media (min-width: 700px) {
  #cssmenu {
    max-height: 96px; } }
@media (min-width: 1350px) {
  #cssmenu > ul {
    float: right; } }
@media (max-width: 780px) {
  .nav {
    max-width: 100%; } }
@media (max-width: 845px) {
  #cssmenu > ul > li > a {
    font-size: 10px;
    letter-spacing: 0px; } }
.leftFloatMenu {
  position: relative;
  z-index: 999;
  width: 197px;
  padding: 15px 7px 5px;
  background-color: white;
  border-top: 3px solid #71a28e;
  top: 8px;
  margin-top: 15px;
  -webkit-box-shadow: 1px 1px 14px -5px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 1px 1px 14px -5px rgba(0, 0, 0, 0.44);
  box-shadow: 1px 1px 14px -5px rgba(0, 0, 0, 0.44);
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s; }
  .leftFloatMenu ul {
    list-style: none;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s; }
    .leftFloatMenu ul li {
      position: relative;
      min-width: 80px;
      width: 97%;
      padding: 5px;
      padding-left: 10px;
      margin: 10px 0;
      border-bottom: 1px solid rgba(200, 200, 200, 0.55);
      border-left: 1px solid rgba(148, 148, 148, 0.4);
      transition: all 0.3s ease 0s;
      -webkit-transition: all 0.2s ease 0s;
      transition: all 0.2s ease 0s; }
      .leftFloatMenu ul li:hover {
        background-color: #74cd97;
        cursor: pointer;
        color: #000; }
      .leftFloatMenu ul li .leftFloatDDArrow {
        position: absolute;
        right: -8px;
        top: 0;
        padding: 7px 3px 0;
        background-color: #eae9e9;
        height: 34px; }
        .leftFloatMenu ul li .leftFloatDDArrow:hover {
          background-color: #778486; }
          .leftFloatMenu ul li .leftFloatDDArrow:hover .fa {
            color: #fff; }
    .leftFloatMenu ul ul li {
      width: 100%;
      background-color: #b8dec4;
      margin: 0;
      margin-bottom: 2px; }
      .leftFloatMenu ul ul li:hover {
        background-color: #a1c797; }
        .leftFloatMenu ul ul li:hover a {
          color: #fff; }
    .leftFloatMenu ul .active {
      background-color: #74cd97;
      border-left: 5px solid #47b84a; }
      .leftFloatMenu ul .active a {
        color: #fff; }

.leftFloatMenuFixed {
  position: fixed;
  margin-top: 15px; }

.floatMenu1 {
  padding-left: 5px; }

.leftMenuInLine {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 5px;
  text-align: center; }
  .leftMenuInLine ul li {
    display: inline-block;
    margin: 3px 3px; }

@media (max-width: 766px) {
  .floatMenu1 {
    display: none; } }
@media (min-width: 766px) {
  .floatMenu2 {
    display: none; } }
.homeMenu {
  margin: 0 15px 15px; }

.hmMenu {
  min-height: 250px;
  border: 4px solid #fcfcfc;
  transition: all 0.3s ease 0s; }
  .hmMenu:hover {
    cursor: pointer;
    filter: brightness(1.28); }
  .hmMenu span {
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
    font-size: 1.8rem;
    line-height: 30px;
    font-weight: 500;
    color: #fff; }

@media (max-width: 1150px) {
  .hmMenu span {
    left: 1rem;
    bottom: 0.5rem;
    font-size: 1.2rem;
    line-height: 23px; } }
@media (max-width: 765px) {
  .hmMenu {
    min-height: 100px;
    bottom: 0.2rem;
    left: 0.5rem; }
    .hmMenu span {
      font-size: 1.5rem; } }
.hm1R1C {
  background: url(../images/body/menu/hmcursos.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.hm1R2C {
  background: url(../images/body/menu/hmtienda.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .hm1R2C span {
    font-size: 25px; }

.hm1R3C {
  background: url(../images/body/menu/hmarticulos.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .hm1R3C span {
    font-size: 25px; }

.hm2R1C {
  background: url(../images/body/menu/hmagenda.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.hm2R2C {
  background: url(../images/body/menu/hmcampus.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .hm2R2C span {
    font-size: 24px; }

.hm2R3C {
  background: url(../images/body/menu/hmfarmacias.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/*                 HOME ITEMS                      */
.revistaHome {
  transition: all 0.3s ease 0s; }
  .revistaHome:hover {
    cursor: pointer;
    opacity: 0.9; }
  .revistaHome h5 {
    font-size: 1rem; }

.formSocios {
  background-color: white;
  padding: 20px; }

/*                   SECTIONS                      */
.itemHome img {
  min-width: 100%;
  max-width: 100%;
  vertical-align: none; }
.itemHome .card-block {
  padding: 4px 18px; }

.itemHome2 .card-block {
  padding: 4px; }
.itemHome2 h3 {
  margin-top: 15px;
  font-size: 1.2rem;
  text-align: center; }
.itemHome2 img {
  min-width: 100%;
  max-width: 100%;
  vertical-align: none;
  transition: all 0.3s ease 0s; }
  .itemHome2 img:hover {
    cursor: pointer;
    filter: brightness(1.1); }

.itemHome3 {
  margin-bottom: 20px; }
  .itemHome3 .inner {
    position: relative; }
    .itemHome3 .inner img {
      width: 100%;
      max-width: 100%; }
    .itemHome3 .inner .inner-desc {
      position: absolute;
      width: 100%;
      padding: 5px;
      bottom: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.69); }
      .itemHome3 .inner .inner-desc p {
        margin-bottom: 0;
        text-align: center; }

.itemContainer {
  padding-left: 0;
  padding-right: 0; }
  .itemContainer p.marg0 {
    margin-bottom: 0; }
  .itemContainer hr {
    margin-top: 8px;
    margin-bottom: 8px; }
  .itemContainer .card-block {
    padding: 15px; }
  .itemContainer span.consultLocation {
    background-color: #e4e4d4;
    padding: 2px 12px;
    border-radius: 4px; }
  .itemContainer h5 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400; }

.farmCompleto h5 {
  font-weight: 400; }

.quoteSmall {
  font-size: 1rem; }

.linkDestac {
  background-color: #9d98b4;
  color: #fff;
  padding: 5px;
  text-align: center;
  margin: 15px 0;
  padding: 15px;
  transition: all 0.3s ease 0s; }
  .linkDestac p, .linkDestac h1, .linkDestac h2, .linkDestac h3, .linkDestac h4, .linkDestac h5 {
    color: #fff;
    font-size: 1.2rem; }
  .linkDestac:hover {
    cursor: pointer;
    background-color: #645d87; }
    .linkDestac:hover p, .linkDestac:hover h1, .linkDestac:hover h2, .linkDestac:hover h3, .linkDestac:hover h4, .linkDestac:hover h5 {
      color: #fff; }

.linkWrapper, .pagarAmha {
  background-color: #729f81;
  border: 2px solid white;
  padding: 5px;
  padding-top: 25px;
  transition: all 0.3s ease 0s; }
  .linkWrapper:hover, .pagarAmha:hover {
    background-color: #587863;
    cursor: pointer; }
  .linkWrapper p, .pagarAmha p {
    color: #fff;
    font-size: 1.2rem; }
  .linkWrapper .subLinkWrapper li, .pagarAmha .subLinkWrapper li {
    list-style: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    font-size: 0.8rem; }
    .linkWrapper .subLinkWrapper li:hover, .pagarAmha .subLinkWrapper li:hover {
      background-color: #8ed1c1;
      cursor: pointer; }

.pagarBtn {
  padding: 20px;
  border-radius: 5px;
  color: #fff;
  margin: 25px;
  max-width: 450px;
  border: 0;
  text-align: center;
  background-color: #754d80;
  transition: all 0.3s ease 0s; }
  .pagarBtn:hover {
    background-color: #85688e; }

.contentContainer .row {
  padding: 0;
  margin: 0; }

.innerContentContainer {
  margin-bottom: 10px;
  margin-top: 10px; }
  .innerContentContainer h1 {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400; }
  .innerContentContainer h2 {
    font-size: 1.2rem;
    color: #000;
    font-weight: 400; }
  .innerContentContainer h3 {
    margin: 5px 0;
    font-size: 1.2rem;
    color: #000;
    font-weight: 300;
    font-style: italic; }

.mapFarmacias {
  padding: 0;
  margin-bottom: 25px; }
  .mapFarmacias iframe {
    border: 0; }

.farmaciasTits {
  background-color: #b3c6bb;
  padding: 5px 2px;
  text-align: center; }
  .farmaciasTits p {
    margin: 0; }

.farmacias {
  margin-top: 25px; }

.farmCompleto {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 0.25rem 0.25rem 0 0;
  margin-bottom: 15px; }
  .farmCompleto h5 {
    margin: 0;
    padding: 0; }
  .farmCompleto .card {
    border: 0; }

.beneficios {
  margin: 25px 0;
  text-align: center; }

.biblio {
  text-align: left; }

.consultoriosMain {
  margin: 0 auto;
  text-align: center; }
  .consultoriosMain img {
    min-width: 100%;
    max-width: 100%;
    transition: all 0.3s ease 0s; }
    .consultoriosMain img:hover {
      filter: brightness(0.4); }

.consultoriosItems {
  margin-left: 12%; }

@media (max-width: 1200px) {
  .consultoriosItems {
    margin-left: 15px; } }
.consultMapRef span {
  margin: 4px; }

.searchOptions {
  text-align: center;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #e7e7dd; }
  .searchOptions .row {
    padding: 0; }
  .searchOptions h5 {
    margin-bottom: 10px;
    margin-left: 5px; }

.searchFilters {
  border: 1px solid #dfdfdf;
  background-color: #e7e7dd;
  padding: 10px 10px 0 27px;
  margin-bottom: 15px;
  position: relative; }
  .searchFilters .searchFiltersInner div {
    padding-right: 0;
    padding-left: 4px; }
  .searchFilters .searchIcon {
    padding-right: 5px !important;
    background-color: #cdd7c5;
    position: absolute;
    left: -1px;
    top: 0px;
    height: 100%;
    padding: 15px 4px;
    color: #fff; }
  .searchFilters input, .searchFilters select {
    margin-bottom: 10px; }

.representantes img {
  max-width: 100%;
  margin-bottom: 15px; }

.sociosSublinks {
  padding: 0;
  padding: 15px;
  text-align: center; }
  .sociosSublinks p {
    font-size: 14px; }

.moreLinks {
  margin-left: 20px;
  padding-left: 10px; }

.card-farm {
  padding: 0; }

.card-farm-details {
  padding: 5px;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center; }

.amhaContactData {
  text-align: center;
  margin-top: 30px; }

.itemWimg {
  position: relative;
  padding: 0;
  margin-top: 10px;
  padding-bottom: 10px;
  border: 1px solid rgba(230, 230, 230, 0.64);
  background-color: #f0f0f0;
  -webkit-box-shadow: 1px 3px 5px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 3px 5px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 3px 5px -5px rgba(0, 0, 0, 0.75); }
  .itemWimg .col-md-2 {
    padding-left: 0; }
  .itemWimg .itemPrice {
    background-color: #d4d4d4;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 6px 30px;
    font-size: 20px;
    color: #000; }
  .itemWimg .itemPriceBtn {
    background-color: #a2a657;
    font-size: 20px;
    padding: 2px 14px;
    border-radius: 0 5px 5px 0;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s; }
    .itemWimg .itemPriceBtn:hover {
      background-color: #c4c964; }
  .itemWimg .cartShopBtn {
    border-radius: 5px 0 0 5px; }
  .itemWimg p {
    padding: 0;
    margin-top: 20px;
    margin-left: -25px;
    text-align: justify; }
  .itemWimg p.centered {
    text-align: center; }
  .itemWimg h5 {
    margin-top: 15px;
    padding: 5px;
    margin-bottom: 6px;
    text-align: center;
    font-weight: 400; }
  .itemWimg img {
    height: 170px;
    max-width: 105px;
    margin-left: 5px; }
  .itemWimg .itemImgBox img {
    width: 100px;
    height: 100px; }
  .itemWimg .itemImg {
    margin-top: 25px; }
  .itemWimg .itemImgMobile {
    display: none; }
  .itemWimg .itemBtns {
    text-align: right; }
  .itemWimg .itemUss {
    color: #fff;
    font-size: 14px; }
  .itemWimg .itemNew {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #66bb43;
    color: #fff;
    font-size: 12px;
    padding: 4px; }
    .itemWimg .itemNew:hover {
      background-color: #7dda57; }
  @media (max-width: 815px) {
    .itemWimg p {
      margin-left: 5px; }
    .itemWimg .itemImg {
      display: none; }
    .itemWimg .itemImgMobile {
      margin-right: 10px;
      float: left;
      display: block; } }
  @media (max-width: 280px) {
    .itemWimg .itemBtns span.buyNow {
      display: none; }
    .itemWimg .cartShopBtn {
      border-radius: 0;
      padding: 5px 15px; } }

.paymentModal .paymentOptions img {
  width: 120px;
  margin-top: 10px;
  margin-bottom: 15px; }

.item2Col {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
  border: 1px solid #e9e9e9; }
  .item2Col p {
    margin-bottom: 0rem !important;
    margin-top: 3px; }
  .item2Col .item2ColInner {
    min-height: 110px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch; }
    .item2Col .item2ColInner .col-md-3 {
      padding-right: 0; }
  .item2Col .item2ColInnerText {
    padding: 8px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 10px; }
  .item2Col .item2ColImg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0; }
    .item2Col .item2ColImg img {
      width: 100px;
      -webkit-box-shadow: 1px 3px 5px -5px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 1px 3px 5px -5px rgba(0, 0, 0, 0.75);
      box-shadow: 1px 3px 5px -5px rgba(0, 0, 0, 0.75);
      border-radius: 5px; }
  .item2Col h5 {
    background-color: #f4f4f4;
    border-bottom: 2px solid #d4d4d4;
    border-left: 2px solid #d4d4d4;
    padding: 3px 5px 0px 15px;
    font-weight: 400;
    line-height: 25px; }
  @media (max-width: 768px) {
    .item2Col .item2ColImg img {
      width: 90px;
      height: 80px; } }
  @media (max-width: 560px) {
    .item2Col .item2ColImg {
      display: none; } }

.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }

.flexbox .col1 {
  flex: 1; }

.flexbox .col1:nth-child(1) {
  background: #ccc;
  order: 1; }

.flexbox .col1:nth-child(2) {
  background: #eee;
  order: 0; }

.revistas ul {
  margin-bottom: 40px; }
  .revistas ul li {
    display: inline-block;
    list-style: none;
    margin: 5px;
    position: relative; }
    .revistas ul li .editionN {
      text-align: center;
      background-color: #fff;
      padding: 5px 10px;
      font-size: 11px;
      border-radius: 5px 5px 0 0;
      -webkit-box-shadow: -5px -3px 8px -9px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: -5px -3px 8px -9px rgba(0, 0, 0, 0.75);
      box-shadow: -5px -3px 8px -9px rgba(0, 0, 0, 0.75); }
    .revistas ul li .lastEdition {
      background-color: #f2e64a;
      width: 100%;
      padding: 2px;
      text-align: center;
      position: absolute;
      bottom: 10%;
      z-index: 200; }
    .revistas ul li img {
      max-width: 120px;
      border-radius: 5px;
      -webkit-box-shadow: 1px 3px 5px -5px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 1px 3px 5px -5px rgba(0, 0, 0, 0.75);
      box-shadow: 1px 3px 5px -5px rgba(0, 0, 0, 0.75);
      -webkit-transition: all 0.2s ease 0s;
      transition: all 0.2s ease 0s; }
      .revistas ul li img:hover {
        filter: brightness(1.2); }

@media (max-width: 465px) {
  .revistas {
    text-align: center; } }
.sociosLogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center; }

.form-info {
  border: 1px solid rgba(177, 177, 177, 0.65);
  padding: 15px; }
  .form-info p {
    font-size: 14px; }

.sociosLoginInner {
  max-width: 100%;
  width: 500px; }
  .sociosLoginInner form {
    background-color: white;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 10px; }
    .sociosLoginInner form .sexInput {
      margin-right: 10px; }
    .sociosLoginInner form .form-boxedLines {
      border: 1px solid #d6d6d6;
      padding: 15px 1px;
      border-radius: 5px; }
    .sociosLoginInner form h3 {
      margin-bottom: 20px; }

.accordion .accordionTitle p {
  margin-bottom: 0 !important; }
.accordion:hover {
  cursor: pointer; }
.accordion .accordionInfo {
  display: none; }

.socialAmha {
  margin-bottom: 20px; }
  .socialAmha ul li {
    margin-left: 20px; }
    .socialAmha ul li img {
      width: 35px;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .socialAmha ul li img:hover {
        -webkit-box-shadow: 1px 3px 5px -5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 3px 5px -5px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 3px 5px -5px rgba(0, 0, 0, 0.75);
        transform: scale(1.1);
        cursor: pointer; }

.vetConsultBack {
  background-color: #C0A5EA; }

.odontConsultBack {
  background-color: #7597E0; }

.medicConsultBack {
  background-color: #20B99E; }

.consultProv {
  background-color: #AFB1B6;
  color: #fff; }

.consultNb {
  background-color: #d16363;
  color: #fff; }

.mainBtn {
  background-color: #68637d;
  transition: all 0.3s ease 0s;
  color: #fff; }
  .mainBtn:hover {
    background-color: #645d87;
    color: #fff; }

@media (max-width: 545px) {
  .mainBtn {
    padding: 4px;
    margin: 8px 2px; } }
.btnPColor {
  background-color: #68637d;
  border: 0;
  transition: all 0.3s ease 0s; }
  .btnPColor:hover {
    background-color: #645d87; }

.secBtn {
  background-color: #9d98b4;
  transition: all 0.3s ease 0s;
  color: #fff;
  border: 0; }
  .secBtn:hover {
    background-color: #645d87;
    color: #fff; }

@media (max-width: 545px) {
  .secBtn {
    padding: 4px;
    margin: 8px 2px; } }
.hollowBtn {
  border: 1px solid white;
  background-color: transparent;
  border-radius: 0;
  transition: all 0.3s ease 0s; }
  .hollowBtn:hover {
    background-color: #fff;
    color: #000 !important; }
    .hollowBtn:hover p {
      color: #000; }

.searchBtn {
  background-color: #a6a26b;
  transition: all 0.3s ease 0s;
  color: #fff;
  border: 0; }
  .searchBtn:hover {
    background-color: #645d87;
    color: #fff; }

.btnMarg {
  margin: 3px; }

.btnMargTop {
  margin-top: 10px; }

.payPalBtn {
  background-color: #11559d; }
  .payPalBtn:hover {
    background-color: #009cde; }

.mpBtn {
  background-color: #009fe3; }
  .mpBtn:hover {
    background-color: #100d9e; }

.docBtn {
  background-color: #20B99E;
  color: #fff;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  margin: 3px; }
  .docBtn:hover {
    background-color: #26853f; }

.vetBtn {
  background-color: #C0A5EA;
  color: #fff;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  margin: 3px; }
  .vetBtn:hover {
    background-color: #8978bf; }

.odontBtn {
  background-color: #7597E0;
  color: #fff;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  margin: 3px; }
  .odontBtn:hover {
    background-color: #3d64da; }

.titleSeparator {
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: center;
  padding: 5px; }
  .titleSeparator h5 {
    color: #fff; }

.titleSeparator2 {
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: center;
  padding: 2px; }
  .titleSeparator2 h5 {
    color: #fff;
    font-size: 16px; }

.infoContainer {
  background-color: #f2f2f2;
  padding: 15px;
  margin: 15px 0;
  border-top: 5px solid #386868; }

#viewStyles {
  text-align: center;
  position: absolute;
  left: -170px;
  bottom: 25%;
  width: 170px;
  height: 200px;
  background-color: #fff;
  z-index: 9999;
  padding: 25px 15px 25px 5px;
  border-radius: 0 0 5px 0;
  -webkit-box-shadow: 4px 0px 7px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 0px 7px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 0px 7px -1px rgba(0, 0, 0, 0.75);
  transition: all 0.3s ease 0s; }
  #viewStyles h3 {
    font-size: 1rem;
    color: #000;
    margin-bottom: 10px; }

.viewStylesInner {
  position: absolute;
  background-color: #fff;
  top: 0;
  right: -25px;
  padding: 5px;
  border-radius: 0 5px 5px 0; }
  .viewStylesInner:hover {
    cursor: pointer; }

.viewStylesInnerTit {
  padding-top: 15px; }

.viewStylesMarg {
  left: 0 !important; }

.catalogueMain {
  background-color: rgba(224, 224, 224, 0.8);
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 35px; }

.catalogueItem {
  max-width: 350px; }

.catalogueItemInner {
  padding: 15px;
  background-color: #fff; }

@media (max-width: 765px) {
  .catalogueMain {
    flex-direction: column; } }
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #212121; }

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px; }

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  cursor: pointer; }

.hovereffect h1 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 35px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent; }

.hovereffect h1:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: "";
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.hovereffect:hover h1:after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.hovereffect a, .hovereffect p, .hovereffect h2 {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.hovereffect hr {
  background-color: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.hovereffect:hover hr {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.amhaContacto {
  text-align: left; }
  .amhaContacto .mainContactForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 25px; }
    .amhaContacto .mainContactForm form {
      min-width: 400px; }

@media (max-width: 765px) {
  .amhaContacto {
    text-align: center; } }
.textSection {
  margin-bottom: 20px; }
  .textSection h5 {
    margin: 10px 0;
    background-color: #f4f4f4;
    border-bottom: 2px solid #d4d4d4;
    border-left: 2px solid #d4d4d4;
    padding: 8px 5px 5px 8px;
    font-weight: 400;
    line-height: 25px; }
  .textSection h4 {
    margin: 15px 0; }

.downloadPdf {
  margin-top: 10px;
  margin-bottom: 25px; }
  .downloadPdf span {
    margin-left: 20px; }
  .downloadPdf img {
    width: 50px;
    max-width: 100%; }

.horizontal-list ul li {
  display: inline-block;
  list-style: none; }

.horizontalList ul li {
  display: inline-block;
  list-style: none; }

.vertical-list ul li {
  display: block;
  list-style: none; }

.revistas-horiz li {
  position: relative;
  margin-bottom: 4px;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 10px 10px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s; }
  .revistas-horiz li:hover {
    background-color: #ebebeb; }
  .revistas-horiz li img {
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 100%;
    width: 30px; }

.checkbox-custom, .radio-custom {
  opacity: 0;
  position: absolute; }

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 1px 0;
  cursor: pointer; }
  .checkbox-custom:active, .checkbox-custom:focus, .checkbox-custom-label:active, .checkbox-custom-label:focus, .radio-custom:active, .radio-custom:focus, .radio-custom-label:active, .radio-custom-label:focus {
    outline: none; }
  .checkbox-custom .checkbox-custom-label, .checkbox-custom .radio-custom-label, .checkbox-custom-label .checkbox-custom-label, .checkbox-custom-label .radio-custom-label, .radio-custom .checkbox-custom-label, .radio-custom .radio-custom-label, .radio-custom-label .checkbox-custom-label, .radio-custom-label .radio-custom-label {
    position: relative; }
  .checkbox-custom .checkbox-custom + .checkbox-custom-label:before, .checkbox-custom .radio-custom + .radio-custom-label:before, .checkbox-custom-label .checkbox-custom + .checkbox-custom-label:before, .checkbox-custom-label .radio-custom + .radio-custom-label:before, .radio-custom .checkbox-custom + .checkbox-custom-label:before, .radio-custom .radio-custom + .radio-custom-label:before, .radio-custom-label .checkbox-custom + .checkbox-custom-label:before, .radio-custom-label .radio-custom + .radio-custom-label:before {
    content: "";
    background: #fff;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 1px;
    margin-right: 10px;
    text-align: center; }
  .checkbox-custom .checkbox-custom:checked + .checkbox-custom-label:before, .checkbox-custom-label .checkbox-custom:checked + .checkbox-custom-label:before, .radio-custom .checkbox-custom:checked + .checkbox-custom-label:before, .radio-custom-label .checkbox-custom:checked + .checkbox-custom-label:before {
    background: #c63461;
    box-shadow: inset 0px 0px 0px 4px #fff; }
  .checkbox-custom .radio-custom + .radio-custom-label:before, .checkbox-custom-label .radio-custom + .radio-custom-label:before, .radio-custom .radio-custom + .radio-custom-label:before, .radio-custom-label .radio-custom + .radio-custom-label:before {
    border-radius: 50%; }
  .checkbox-custom .radio-custom:checked + .radio-custom-label:before, .checkbox-custom-label .radio-custom:checked + .radio-custom-label:before, .radio-custom .radio-custom:checked + .radio-custom-label:before, .radio-custom-label .radio-custom:checked + .radio-custom-label:before {
    background: #ccc;
    box-shadow: inset 0px 0px 0px 4px #fff; }
  .checkbox-custom .checkbox-custom:focus + .checkbox-custom-label, .checkbox-custom .radio-custom:focus + .radio-custom-label, .checkbox-custom-label .checkbox-custom:focus + .checkbox-custom-label, .checkbox-custom-label .radio-custom:focus + .radio-custom-label, .radio-custom .checkbox-custom:focus + .checkbox-custom-label, .radio-custom .radio-custom:focus + .radio-custom-label, .radio-custom-label .checkbox-custom:focus + .checkbox-custom-label, .radio-custom-label .radio-custom:focus + .radio-custom-label {
    outline: 1px solid #ddd; }

/*# sourceMappingURL=webstyles.css.map */
