@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,200italic,700)

// font-family: 'Source Sans Pro', sans-serif

// font-weight: 200

// font-weight: 300
// font-weight: 400
// font-weight: 700

// Colors


// Fonts
$font1: 'Source Sans Pro', sans-serif

// COLORS
$topNavColor: rgb(70, 70, 70)
$topNavText: rgb(198, 198, 198)
$topNavTextHover: rgb(186, 186, 186)
$logoText: rgb(255, 255, 255)

///////// Menu ///////////
// Background Color All menu
$navBack: $topNavColor
$headerBack: $topNavColor

$navHover: rgb(99, 81, 103)
// Main Color Hover
$navLiHover: rgb(99, 81, 103)


$navDd: rgb(99, 81, 103)
// DropDown
$navDd: rgb(94, 66, 99)
$navDdHover: #67728c
// DropDown2
$navDd2: rgb(94, 66, 99)
$navDd2Hover: #67728c
